
header {
    /* border: 2px solid red; */
    width: 100%;
    height: 80px;
    background-color: #000835;  
    position: fixed;
}

header img {
    width: 60px;
}

.header-dentro {
    max-width: 1350px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.gp-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}


ul {
    display: flex;
    gap: 22px;
    list-style: none;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
