
.produtos {
    max-width: 1350px;
    margin: 0 auto;
    padding: 60px 0;
    color: white;
    /* border: 2px solid red; */
}

#lista-bebidas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* border: 2px solid blue; */
}

.card {
    width: 350px;
    height: 295px;
    background-color: #5f5f5f;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    /* border: 2px solid red; */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-card {
    width: 100%;
    height: 150px;
    object-fit: contain;
}