@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;400&family=Quicksand:wght@300..700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('/src/styles/header.css');
@import url('/src/styles/hero-section.css');
@import url('/src/styles/modal.css');
@import url('/src/styles/modalCervejas.css');
@import url('/src/styles/produtos.css');
@import url('/src/styles/modalDestilados.css');
@import url('/src/styles/modalVinhos.css');
@import url('/src/styles/modalSemAlcool.css');


*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000428;
}
