* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
    padding: 20px;
}

/* .container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
} */

header {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    background-color: blueviolet;
    padding: 10px;
    width: 1920px;
    height: 80px;
}

img {
    height: 60px;
    margin-right: 10px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}