@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;400&family=Quicksand:wght@300..700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000428;
}

header {
    /* border: 2px solid red; */
    width: 100%;
    height: 80px;
    background-color: #000835;  
    position: fixed;
}

header img {
    width: 60px;
}

.header-dentro {
    max-width: 1350px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.gp-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}


ul {
    display: flex;
    gap: 22px;
    list-style: none;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

/* Container da Section Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
    padding: 60px 0; /* Adicione um respiro vertical */
    gap: 40px;
    /* border: 2px solid red; */
}

.hero-content {
    display: flex;
    flex-direction: column;
    /* max-width: 600px; */
    /* border: 2px solid blue; */
}

#text-principal {
    color: white;
    font-size: 75px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    line-height: 1.1;
}

#btn-catalogo {
    width: 250px;
    height: 60px;
    padding: 15px 40px;
    background-color: #D4AF37;
    border: none;
    border-radius: 50px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #000835;
    cursor: pointer;
    transition: 0.3s;
}

#btn-catalogo:hover {
    background-color: #000835;
    border: 2px solid white;
    color: #D4AF37;
}

.modal {
    /* display: none; Esconde o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1; /* Garante que o modal fique acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    overflow: auto; /* Habilita rolagem se necessário */
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.hidden {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    width: 350px;
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal */
    padding: 20px;
    border: 1px solid #888;
}

.img-principal {
    max-width: 700px; 
    width: 100%;
    height: auto;
    object-fit: contain;
}

.produtos {
    max-width: 1350px;
    margin: 0 auto;
    padding: 60px 0;
    color: white;
    /* border: 2px solid red; */
}

#lista-bebidas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* border: 2px solid blue; */
}

.card {
    width: 350px;
    height: 295px;
    background-color: #5f5f5f;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    /* border: 2px solid red; */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#img-card {
    width: 100%;
    height: 150px;
    object-fit: contain;
}